.user-registration {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.user-registration h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-registration .form-group {
    margin-bottom: 15px;
}

.user-registration .form-group label {
    display: block;
    margin-bottom: 5px;
}

.user-registration .form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color:lightgrey;
}

.user-registration button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ce1126;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.user-registration button:hover {
    background-color: lightgrey;
}